
/* Litir */
$grey: #646464;
$grey-lite: #898989;
$grey-dark: #494949;

$brown: #ba8c58;
$brown-dark: #9A6A35;
$brown-lite: #E1B98D;

$blue: #454D80;
$blue-dark: #2D356A;
$blue-lite: #686F9A;

$green: #3F865C;
$green-lite: #65A27E;
$green-dark: #266F44;
$radius: 4px;

$bg: lighten($brown-lite, 20%);

.boxshadow {
	box-shadow: 1px 1px 2px rgba($brown, 0.4);
}

/* Settings */
$max-width: 1200px;
$transition-speed: .5s ease-in-out;
$transition-speed2: .25s ease-in-out;

@mixin kal-absfill() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@mixin aspect-ratio($width, $height) {
	position: relative;
	
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	
	&--content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

html, body {
	background-color: $bg;
	color: $grey;
	font-family: 'Open Sans', sans-serif !important;

	a {
		color: $brown;
		transition: $transition-speed2;

		&:hover {
			color: $brown-dark;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		color: $brown-dark;
		font-family: 'Open Sans', sans-serif !important;
	}
}


.Haus {
	#logo {
		padding: 1rem;
		display: inline-block;
		box-sizing: border-box;
		img {
			max-width: 100%;
		}
	}

	color: $brown;
	font-weight: 700;
	i {
		color: $brown;
	}
}

.Content {
	@extend .boxshadow;
	box-sizing: border-box;
	background: #FFF;
	min-height: 500px;
	padding: 1rem;
}

.uk-container.uk-container-center {
	@media (max-width: 479px) {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	@media (max-width: 1219px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}


@import 'nav';
@import 'card';
@import 'boxes';